{{ define "content" }}
    <div class="content">
        <div class="columns grid-xl">
            <div class="column col-9">
                <div class="issue-list">
                    <ul class="tab">
                        <li class="tab-item active">
                            <a href="#">最新问答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#">最热问答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#">等待解答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#" class="badge" data-badge="3">付费抢答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#" class="badge" data-badge="9">邀请解答</a>
                        </li>
                        <li class="tab-item tab-action">
                            <div class="input-group input-inline has-icon-left">
                                <input class="form-input input-sm" type="text" placeholder="搜索问答">
                                <i class="form-icon icon icon-search"></i>
                            </div>
                        </li>
                    </ul>
                    <div class="issue-content">
                        <div class="issue-item columns">
                            <div class="column col-11 issue-item-content">
                                <div class="issue-item-title">
                                    <a href="###">应该如何使用 go module ?</a>
                                </div>
                                <div class="issue-item-info">
                                    <a href="##">果子</a>发布于 3 天前.悬赏 500 积分.
                                </div>
                            </div>
                            <div class="column col-1 issue-item-right">
                                <a href="##" class="btn btn-link btn-sm">
                                    <i class="icon icon-message"></i>
                                    234
                                </a>
                            </div>
                        </div>
                        <div class="issue-item columns">
                            <div class="column col-11 issue-item-content">
                                <div class="issue-item-title">
                                    <a href="###">用什么IDE开发GO ?</a>
                                </div>
                                <div class="issue-item-info">
                                    <a href="##">果子</a>发布于 3 秒前.悬赏 50 元红包.
                                </div>
                            </div>
                            <div class="column col-1 issue-item-right">
                                <a href="##" class="btn btn-link btn-sm">
                                    <i class="icon icon-message"></i>
                                    234
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-3">
                <div class="box">
                    <div class="box-body">
                        <p>
                            学习<a href="###" target="_blank">[提问的智慧]</a>是重要的事情!
                        </p>
                        <p>
                            您可以使用更多的积分吸引大佬快速抢答问题,也可以付费邀请认证大佬准确回答问题~
                        </p>
                        <button class="btn btn-success btn-block">提问</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
