{{ define "content" }}
    <div class="content">
        <div class="columns grid-xl">
            <div class="column col-9">
                <div class="issue-list">
                    <ul class="tab">
                        <li class="tab-item active">
                            <a href="#">最新问答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#">最热问答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#">尚未解答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#" class="badge" data-badge="3">付费抢答</a>
                        </li>
                        <li class="tab-item">
                            <a href="#" class="badge" data-badge="9">邀请解答</a>
                        </li>
                    </ul>
                    <div class="issue-content">
                        <div class="issue-item">

                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-3">
                <div class="box">
                    <div class="box-body">
                        <p>
                            学习<a href="###" target="_blank">[提问的智慧]</a>是重要的事情!
                        </p>
                        <p>
                            您可以使用更多的积分吸引大佬快速抢答问题,也可以付费邀请认证大佬准确回答问题~
                        </p>
                        <button class="btn btn-success btn-block">提问</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
