body {
  padding-top: 70px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #222222;
}

a {
  color: #375eab;
  text-decoration: none !important;
}

a:hover {
  color: #89c1ff;
}

h1 {
  margin: 12px 5px;
  font-size: 2.4rem;
  color: #333;
}

h2 {
  margin: 11px 5px;
  font-size: 2.2rem;
  color: #333;
}

h3 {
  margin: 10px 5px;
  font-size: 2.0rem;
  color: #333;
}

.navbar-default {
  background-color: #e0ebf5;
  border-bottom: #d0dbe5 1px solid;
}

.navbar-brand {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff !important;
  background: #4ea7b3;
  border-radius: 50px;
  padding: 3px 10px;
}

.navbar-sign-in {
  padding: 15px 5px !important;
  color: #333 !important;
}

.navbar-user {
  padding: 8px 15px !important;
}

.navbar-title {
  color: #000;
  letter-spacing: 2px;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #d0dbe5;
}

.issues-list img {
  height: 42px;
  border-radius: 50px;
}

.issues-list li {
  border-bottom: 1px dotted #ddd;
  padding: 10px 0;
}

.issue-title {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.issue-title a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.issue-title a:hover {
  color: #47b2bd;
}

.issue-info {
  color: #b6b6b6;
  font-size: 12px;
}

.issue-info a {
  color: #b6b6b6;
  text-decoration: none;
}

.issue-info a:hover {
  color: #909090;
}

.loading {
  color: #888;
  text-align: center;
  font-size: 14px;
}


.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

